<article class="post">
    <div class="single-post-title">
        <h4>{{post.title}}</h4>
    </div>
    <div class='single-post-text'>
        {{post.text}}
    </div>
    <div class="single-post-meta">
        by {{post.user.username}} on
        {{dateFormat created_at}}
    </div>
    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body" class='comment-textarea'></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
        </div>
    </form>
    {{else}}
    <p class='loginComment'>Please log in to add a comment</p>
    {{/if}}

    {{> comments post.comments}}
</article>

<script src="/js/comment.js"></script>